span.species-group {
  width: 44px;
  height: 30px;
  display: inline-block;
}
img.species-group {
  width: 30px;
}
.species-group {
  background: url(https://primefaces.org/cdn/primereact/images/flag/flags_responsive.png)
    no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-all {
  background: url("./assets/species_group/fishgroup.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-barnacle {
  background: url("./assets/species_group/barnacle.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-bivalve {
  background: url("./assets/species_group/bivalve.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-crab {
  background: url("./assets/species_group/crab.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-cuttlefish {
  background: url("./assets/species_group/cuttlefish.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-eel {
  background: url("./assets/species_group/eel.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-finfish {
  background: url("./assets/species_group/finfish.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-gastropod {
  background: url("./assets/species_group/snail.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-lobster {
  background: url("./assets/species_group/lobster.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-octopus {
  background: url("./assets/species_group/octopus.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-ray {
  background: url("./assets/species_group/manta-ray.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-sea_cucumber {
  background: url("./assets/species_group/sea-cucumber.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-sea_urchin {
  background: url("./assets/species_group/sea-urchin.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-shark {
  background: url("./assets/species_group/shark.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-shrimp {
  background: url("./assets/species_group/shrimp.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.species-group-squid {
  background: url("./assets/species_group/squid.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.p-datepicker.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  z-index: 999999999999999999 !important;
}

.modal-container-fisheries button {
  border-radius: 6px !important;
}

.date-range-input-fisheries button {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.p-multiselect-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
    z-index: 999999999999999999 !important;
}

.p-dropdown-panel.p-component.p-ripple-disabled.p-connected-overlay-enter-done {
  z-index: 999999999999999999 !important;
}

.p-datepicker.p-component.p-datepicker-monthpicker {
  z-index: 999999999999999999 !important;
}

.p-datepicker {
  z-index: 999999999999999999 !important;
}

.modal-column {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.modal-column > div {
    width: 100%;
}

.modal-footer-fisheries {
  display: flex;
  gap: 0.5rem;
}
